ML_APP_ID=
ML_SECRET=
ML_REDIRECT_URI=http://localhost:3000/api/auth/ml/callback

SHOPEE_PARTNER_ID=
SHOPEE_PARTNER_KEY=
SHOPEE_REDIRECT_URI=http://localhost:3000/api/auth/shopee/callback
SHOPEE_HOST=https://partner.shopeemobile.com
SHOPEE_SANDBOX_HOST=https://partner.test-stable.shopeemobile.com
SHOPEE_SANDBOX=true

GEMINI_API_KEY=

SESSION_SECRET=troca-por-uma-string-de-32-chars-minimo
